# --- File do trinh bien dich C/C++ sinh ra ---
*.exe
*.o
*.obj
*.out
a.out

# --- File tam cua he dieu hanh / IDE ---
.vscode/
Thumbs.db
desktop.ini

build/ 
# chan ca file build vi .o se do het vao build 
